@use "variables" as var;
@use "mix" as mix;

:host {
  display: block;
  height: inherit;
  width: 100%;
}

.pokemon-list {
  &__container {
    overflow-y: scroll;
    width: 100%;
    height: 99%;
    padding: var.$spacing-inline-xs;
    @include mix.flex-column(flex-start, flex-start, var.$spacing-inline-xs);
  }
}
