<ul
  class="pokemon-list__container"
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="50"
  [scrollWindow]="false"
  [horizontal]="false"
  (scrolled)="onScroll()"
>
  @for (pokemon of pokemonService.pokemonsList$ | async; track $index) {
  <app-pokemon-card
    [pokemon]="pokemon"
    [isSelected]="checkPokemonIsSelected(pokemon)"
    (selectPokemonEvent)="onSelectPokemon($event)"
  ></app-pokemon-card>
  } @if (isLoadingList()) {
  <img
    class="pokemon-list__spinner"
    src="assets/img/spinner.svg"
    alt="spinner"
  />}
</ul>
