@use "variables" as var;
@use "mix" as mix;
@use "colors";

:host {
  display: block;
  width: inherit;
}

.pokemon-card {
  &__container {
    width: 100%;
    cursor: pointer;
    @include mix.flex-row(flex-start, center, var.$spacing-inline-xs);

    &--selected {
      padding: var.$spacing-xs;
      border-radius: var.$border-lg;
      margin-left: var.$spacing-inline-xs;
      background-color: var(--red-01) !important;
    }
  }

  &__arrow {
    width: 20px;
    height: 20px;
  }

  &__info {
    flex-grow: 1;
    padding: 0 var.$spacing-xs;
    background-color: var(--yellow-03);
    border-radius: var.$border-half-pill;
    @include mix.flex-row(flex-start, center, var.$spacing-inline-xs);
  }

  &__circle {
    display: block;
    height: 25px;
    width: 25px;
    border-radius: var.$border-circle;
    background-color: rgba(0, 0, 0, 0.125);

    &--selected {
      background-color: var(--red-01) !important;
    }
  }
}
