<div
  class="pokemon-card__container"
  [class]="{ 'pokemon-card__container--selected': isSelected() }"
  (click)="onSelectPokemon(pokemon())"
>
  <img class="pokemon-card__arrow" src="assets/img/flecha.png" alt="" />
  <div class="pokemon-card__info">
    <div
      class="pokemon-card__circle"
      [class]="{ 'pokemon-card__circle--selected': isSelected() }"
    ></div>
    <span>No. {{ pokemon().code | pokemonCode }}</span>
    <img [src]="pokemon()!.imageUrl" width="50" height="40" alt="" />
    <span> {{ pokemon().name | titlecase }}</span>
  </div>
</div>
