@use "variables" as var;
@use "mix" as mix;
@use "colors";

.pokemon-card {
  &__container {
    padding: var.$spacing-xs;
    @include mix.flex-row(flex-start, center, var.$spacing-inline-xs);
    cursor: pointer;

    &-selected {
      border-radius: var.$border-lg;
      margin-left: var.$spacing-inline-xs;
      background-color: var(--red-01) !important;
    }
  }

  &__arrow {
    width: 20px;
    height: 20px;
  }

  &__info {
    width: 400px;
    padding: var.$spacing-xs;
    background-color: var(--yellow-03);
    border-radius: var.$border-half-pill;
    @include mix.flex-row(flex-start, center, var.$spacing-inline-xs);
  }

  &__circle {
    display: block;
    height: 25px;
    width: 25px;
    border-radius: var.$border-circle;
    background-color: rgba(0, 0, 0, 0.125);
  }
}
