:root {
  --yellow-01: #fdebb9;
  --yellow-02: #f8e55c;
  --yellow-03: #fceab8;
  --orange-01: #f49545;
  --blue-01: #7a9de0;
  --blue-02: #88daf2;
  --blue-03: #30408d;
  --blue-04: #8cbbf1;
  --blue-05: #c9e2f4;
  --red-01: #da4443;
  --green-01: #daeac4;
  --brown-01: #2f2c24;
  --white: white;
  --white-02: #f5f7f9;
}
