@use "variables" as var;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Mixin para flex row com espaçamento entre itens
@mixin flex-row($justify: flex-start, $align: stretch, $gap: 0) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

// Mixin para flex column com espaçamento entre itens
@mixin flex-column($justify: flex-start, $align: stretch, $gap: 0) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

// Mixin para flex com wrap
@mixin flex-wrap(
  $direction: row,
  $justify: flex-start,
  $align: stretch,
  $gap: 0
) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

// Mixin para criar um grid básico
@mixin grid($columns: 1fr, $rows: auto, $gap: 0) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  gap: $gap;
}
