// Espaçamento vertical (stack)
$spacing-stack-xs: 4px;
$spacing-stack-sm: 8px;
$spacing-stack-md: 12px;
$spacing-stack-lg: 16px;
$spacing-stack-xl: 20px;
$spacing-stack-xxl: 32px;

// Espaçamento horizontal (inline)
$spacing-inline-xs: 4px;
$spacing-inline-sm: 8px;
$spacing-inline-md: 12px;
$spacing-inline-lg: 16px;
$spacing-inline-xl: 20px;
$spacing-inline-xxl: 32px;

// Espaçamento horizontal + vertical (inline + horizontal);
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 12px;
$spacing-lg: 16px;
$spacing-xl: 20px;
$spacing-xxl: 32px;

// Variáveis de borda (border)
$border-xs: 1px;
$border-sm: 2px;
$border-md: 3px;
$border-lg: 4px;
$border-xl: 12px;
$border-half-pill: 25px; // Para botões ou elementos arredondados
$border-pill: 50px; // Para botões ou elementos arredondados
$border-circle: 50%; // Para elementos circulares

// Tamanhos de fonte (font-size)
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;

// Tamanhos de breakpoint (responsividade)
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
