@use "mix" as mix;
@use "variables" as var;

.main-container {
  //deixar a main com o tamanho responsivo com calc
  // -110 -> 80px de altura do header + 30px de altura do footer
  // com isso a altura da pagina fica certinha sem scroll
  height: calc(100vh - 110px);
  width: 100vw;
  min-width: 300px;
  background-color: var(--blue-05);

  @include mix.grid(1.2fr 1fr);
  place-items: center;
}
