<div class="pokemon-detail__container">
  <div class="pokemon-detail__row-1">
    <span>titulo</span>
  </div>
  <div class="pokemon-detail__row-2">
    <p class="pokemon-detail__label">
      Tipo: <span>{{ pokemon().types }}</span>
    </p>
    <p class="pokemon-detail__label">Altura: {{ pokemon().height }} Metros</p>
    <p class="pokemon-detail__label">Peso: {{ pokemon().weight }} KG</p>
  </div>
  <div class="pokemon-detail__row-3">
    <div class="pokemon-detail__description">
      <div></div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sit
        accusamus velit est ea blanditiis illo? Aliquam molestiae officiis
        architecto praesentium saepe explicabo corporis unde illum voluptas
        ipsam! Tempore, architecto!
      </p>
      <div></div>
    </div>
  </div>
</div>
